:root {
  --black: #0F1D2B;
  --blue: #17456B;
  --aqua: #419FB7;
  --still: #BFDBEF;
  --white: #F5F6EE;
  --yellow: #FFB000;
  --font-size: 1.3rem;
  --mono: "Oxygen mono",
monospace;
  --sans: Oxygen, sans-serif;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1, h2, h3 {
  margin: 0;
}

a {
  color:var(--aqua)
}

a:hover {
  color: var(--still);
  text-decoration: none;
}

/* Intro Styles */
#intro {
  padding-bottom: 10rem;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--yellow);
  display: block;
}

#intro h2 {
  font-size: 4rem;
}

/* Contact Section */

#contact {
  width: 400px;
  background-color: var(--blue);
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

#contact h3 {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Navbar */
nav {
  font-size: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav [class*="fa-"]{
  font-size: 150%;
  color: var(--aqua)
}
nav [class*="fa-"]{
  font-size: 100%;
  color: var(--aqua)
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: var(--still)
}

.button {
  background-color: var(--still);
  padding: 0.5rem;
  border-radius: 5px;
}

.button:hover {
  color: var(--aqua)
}

/* Footer */
footer {
  text-align: center;
  padding: 4rem 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}

@media (min-width: 850px){
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
