:root {
  --black: #0F1D2B;
  --blue: #17456B;
  --aqua: #419FB7;
  --still: #BFDBEF;
  --white: #F5F6EE;
  --yellow: #FFB000;
  --font-size: 1.3rem;
  --mono: "Oxygen mono",
monospace;
  --sans: Oxygen, sans-serif;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1, h2, h3 {
  margin: 0;
}

a {
  color:var(--aqua)
}

a:hover {
  color: var(--still);
  text-decoration: none;
}

/* Intro Styles */
#intro {
  padding-bottom: 10rem;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--yellow);
  display: block;
}

#intro h2 {
  font-size: 4rem;
}

/* Contact Section */

#contact {
  width: 400px;
  background-color: var(--blue);
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

#contact h3 {
  padding-bottom: 0;
  margin-bottom: 0;

